---
import "../styles/global.css";
const {pageTitle} = Astro.props;
const {header} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a class="main-header" href="/stack"><h1>{header}</h1></a>
        <slot />
	</body>
</html>